<header>
    <nav>
        <a href="/">Vehicle Search</a>
        <ul>
            <li><a href="/products">Products</a></li>
            <li><a href="/products/new">Add Products</a></li>
            <li><a href="/fitments">Fitments</a></li>
            <li><a href="/fitments/new">Add Fitments</a></li>
        </ul>
    </nav>
    <nav>
        <form action="/search" method="GET">
            <div>       
                <div>
                    <label>Year</label>         
                    <select name="year" class="vehicle-search-dropdown">               
                        <option value="select">Select Year</option>
                        <% fitments.forEach(fitment => { %>                             
                            <option class="fitment-option"    
                                    label="<%= fitment.year %>" 
                                    value="<%= fitment.year %>"
                                    data-fitment-type="year"></option>    
                        <% }) %>
                    </select>
                </div>            
                <div>
                    <label>Make</label>  
                    <select name="make" class="vehicle-search-dropdown" data-previous-fitment-type="year">
                        <option value="select" data-fitment>Select Make</option>
                        <% fitments.forEach(fitment => { %>     
                            <option class="fitment-option" 
                                    label="<%= fitment.make %>" 
                                    value="<%= fitment.make %>" 
                                    data-fitment="<%= fitment.year %> <%= fitment.make %> <%= fitment.model %>"
                                    data-previous-value="<%= fitment.year %>"
                                    data-fitment-type="make"></option>    
                        <% }) %>
                    </select>
                </div>
                <div>
                    <label>Model</label>  
                    <select name="model" class="vehicle-search-dropdown" data-previous-fitment-type="make">
                        <option value="select" data-fitment>Select Model</option>
                        <% fitments.forEach(fitment => { %>     
                            <option class="fitment-option" 
                                    label="<%= fitment.model %>" 
                                    value="<%= fitment.model %>" 
                                    data-fitment="<%= fitment.year %> <%= fitment.make %> <%= fitment.model %>"
                                    data-previous-value="<%= fitment.make %>"
                                    data-fitment-type="model"></option>    
                        <% }) %>
                    </select>
                </div>   
                <div>
                <button type="submit" class="btn vehicle-search-btn" disabled>Search</button>
                </div>    
            </div>
        </form>
    </nav>   
</header>
<br>
