<h2>Products</h2>
<div>       
    <% products.forEach(product => { %>           
        <img src="<%= product.coverImagePath %>" alt="<%= product.title %>" width="100">  
        <p><%= product.title %></p>
        <p><%= product.price %></p>
        <p>Fitment: <%= product.fitment %></p>
    <% }) %>        
</div> 